.container-cadastro{
    background-image: url('../../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-cadastro form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;

    padding: 45px 32px 40px 32px;

    position: relative;
}

.container-cadastro h2 {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0px;

    color: #7978D9;

    margin-bottom: 8px;
    
}

.container-cadastro label {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;

    display: flex;
    flex-direction: column;

    color: #484848;

    margin-top: 15px;
}

.container-cadastro input {
    all: unset;
    box-sizing: border-box;

    border: 1px solid #555555;

    height: 48px;
    width: 300px;
    border-radius: 5px;

    margin-top: 4px;

    padding: 15px
}

.container-cadastro button {

    all: unset;
    box-sizing: border-box;

    background-color: #7978D9;
    
    font-family: Rubik;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    color: white;

    cursor: pointer;

    height: 40px;
    width: 300px;
    border-radius: 5px;

    margin-top: 30px;
}

.container-cadastro-span_clique_aqui {

    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;

    color: #7B61FF;

    cursor: pointer;

    margin-top: 16px;
}

.container-cadastro-msg_erro{

    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: red;

    margin-top: 1vh;
}


